@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#error {
  font-size: 10rem;
}

.container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.map-container {
  width: 450px;
  height: 300px;
  margin: auto;
}

.item {
  width: 270px;
  margin: auto;
}
