@import '../../styles/mixins';

.page-heatmap {
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  height: auto;
  min-height: 100%;

  overflow-y: auto;

  &__container {
    display: flex;
    width: 100%;

    @include respond(tab-port) {
      flex-direction: column-reverse;
    }
  }

  &__section {
    display: flex;
    flex: 1;

    &--form {
      display: flex;
      flex-direction: column;
      margin-right: 5rem;
      max-width: 500px;

      @include respond(tab-port) {
        justify-content: center;
        align-items: center;

        max-width: 100%;
        width: 100%;

        margin-right: 0;
        margin-top: 4rem;
      }
    }

    &--map {
      height: calc(100vh - 20rem);
      width: 100%;
      @include respond(tab-port) {
        height: calc(70vh - 6rem);
      }
    }
  }

  &__title {
    font-size: 4.5rem;
    margin-bottom: 4rem;
    width: 100%;

    @include respond(tab-port) {
      text-align: center;

      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }

  &__form {
    @include respond(tab-port) {
      margin-top: 3rem;
      max-width: 300px;
    }
  }
}
